.table-column {
    -fx-alignment: center;
    -fx-font-size: 14px;
}

#nameColumn {
    -fx-alignment: center-left;
}

#removeButton {
    -fx-graphic: url('delete.png');
}

#removeButton:selected {
    -fx-graphic: url('delete.png');
}

#editButton {
    -fx-graphic: url('edit.png');
}

#editButton:selected {
    -fx-graphic: url('edit.png');
}